*.pkl
*.npy
*.pth
*.png
lightning_logs
ckpt
runs*
tests/data/outputs
__pycache__
env
*.0
.vscode
*.code-workspace
.idea
.DS_Store
/tests/data/lists/table_12.txt
/tests/data/lists/table_1.txt
/tests/data/model_outputs/
